extends layout

block content
    .container
        .row
            .col-md-6.col-md-offset-3.col-lg-6.col-lg-offset-3
                form(action='/upload/', method='post', enctype='multipart/form-data')
                    .form-group
                        label(for='image')= 'Файл:'
                        input#image(type='file', name='image')

                    button.btn.btn-primary
                        i.fa.fa-fw.fa-upload